.vscode/
/src/capture_data/__pycache__/
/src/preprocess/__pycache__/

/src/csv_dataset/*.png
/src/csv_dataset/*.jpeg
/src/csv_dataset/*.jpg

/src/other
/src/rm_files.bat
/src/tf_dataset/
/src/tf_dataset.zip

gta_sa.exe.lnk