scikit_image==0.17.2
ImageHash==4.1.0
PyAutoGUI==0.9.50
PyDirectInput==1.0.2
pynput==1.6.8
matplotlib==3.3.0
opencv_python==4.3.0.36
pandas==1.0.5
numpy==1.18.5
efficientnet==1.1.0
tensorflow==2.1.0
Pillow==9.0.1
skimage==0.0
